{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}


<ul class="nav nav-pills">
  <li role="presentation"><a href="{{ url_for('task.list') }}">Pendientes</a></li>
  <li role="presentation"><a href="{{ url_for('task.done') }}">Resueltas</a></li>
</ul>

<table class="table">
<tr>
  <th>Id</th>
  
  <th>Area</th>
    <th>Tarea</th>
    <th>Estado</th>
    <th>Resolver</th>
    <th>Borrar</th>
    <th>Modificar</th>
  </tr>
  

  {% for task in tasks|sort(attribute='estado_id')|sort(attribute='area_id')%}
  <tr>
    <td>{{ task.id}}</td>
    <td>{{ task.area}}</td>
    
    
    <td>   {% if task.done %} <strike> {% endif %} {{ task.content }} {% if task.done %} </strike>{% endif %}</td>
  <td>{{ task.estado}}</td>
    <td> <a href="{{ url_for('task.done_task', task_id=task.id ) }}">Ok</a></td>
    <td><a href="{{ url_for('task.delete_task', task_id=task.id ) }}">X</a></td>
    <td><a href="{{ url_for('task.modify_task', task_id=task.id ) }}">Editar</a> </td>
    </tr>
{% endfor %}
</table>

{% if not current_user.is_anonymous %}
<p>Nueva tarea ? <a href="{{ url_for('task.add_task') }}">Crear</a></p>
<p>Exportar a excel ? <a href="{{ url_for('task.export') }}">Presione aquí</a></p>
{% endif %}

{% endblock content %}