{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}


<table>
<tr><th>Area</th>
    <th>Tarea</th>
    <th>Resolver</th>
    <th>Borrar</th>
        <th>Modificar</th>
  </tr>
  
  {% for task in tasks %}
  <tr>
    <td>
      {% if task.done %} <strike> {% endif %}{{ task.area }} {% if task.done %} </strike>{% endif %}</td>
   <td> 
        {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}</td>
       <td>  <a href="{{ url_for('task.done_task', task_id=task.id ) }}">Ok</a></td>
         <td><a href="{{ url_for('task.delete_task', task_id=task.id ) }}">X</a></td>
         <td><a href="{{ url_for('task.modify_task', task_id=task.id ) }}">Editar</a> </td>
    </tr>
{% endfor %}
</table>

{% if not current_user.is_anonymous %}
<p>Nueva tarea ? <a href="{{ url_for('task.add_task') }}">Crear</a></p>
<p>Exportar a excel ? <a href="{{ url_for('task.export') }}">Presione aquí</a></p>
{% endif %}

{% endblock content %}